// .container-fluid{
//   background-image: url(../../assets/images/bg.jpeg);
// }

.banner {
  height: 100vh;
  background-image: url(../../assets/images/bg.jpeg);
  /* Flexbox */
  display: flex;
  align-items: center;
 }

 .search-pane
 {
  height: inherit !important;
  margin-top: 5%;
 }

 .result-pane
 {
  margin-top: 5%;
 }

 .btn-align
 {
  margin-left: 33%;
  margin-top: 5px;
 }

 .header-label
 {
  color: white;
  background-color:darkgreen;
 }